{% extends 'get2i/base.html' %}
{% block navbar %}
{% load static %}
    <div class="col-md-12 mx-auto text-center" style="background: linear-gradient(to right, #4A00E0,#8E2DE2, #8E2DE2, #4A00E0);">
        <div class="container mx-auto text-center" style="padding: 70px;">
            <span style="font-size: 2rem; font-family: 'Playfair Display'; font-weight: 900;">HOW IT WORKS</span><br>
            <span style="font-size: 1rem; font-family: 'Playfair Display'; font-weight: 500;">
                It's The Only Genuine Method Of Getting Instant Followers For Ever </span>
        </div>
    </div><br><br><br><br><br><br>
    <div class="mx-auto text-center justify-content-center col-md-12" style="font-weight: 500; font-size: 20px;" data-aos="fade-up" data-aos-offset="200" data-aos-duration="1000" data-aos-delay="50" id="how_it_works">
            <div class="container row mx-auto text-center" style="font-size: 20px; color: black; padding: 10px;">
                <div class="top1 col-md-3 text-center mx-auto" style="padding: 5px; display: none">
                    <i style="font-size: 4rem; color: #4A00E0;" class="mx-auto text-center fa fa-robot"></i>
                </div>
                <div class="col-md-4 text-center mx-auto">
                    <p style="padding: 10px;">Bots Are The Main Part Of Our System As They Work 24/7 On The Server To Give You Instant Real &
                        Genuine Followers</p>
                </div>
                <div class="top_1 col-md-3 text-center mx-auto" style="padding: 5px;">
                    <i style="font-size: 4rem; color: #4A00E0;" class="mx-auto text-center fa fa-robot"></i>
                </div>
            </div><br><br><br><br>
            <div class="container row mx-auto text-center" style="color: black; padding: 10px;">
                <div class="col-md-3 text-center mx-auto" style="padding: 80px;">
                    <i style="font-size: 4rem; color: #8E2DE2;" class="mx-auto text-center fab fa-instagram"></i>
                </div>
                <div class="col-md-4 text-center mx-auto">
                    <p style="padding: 10px;">The Bot Logins Into Instagram With Our Real And Genuine Accounts And Follows You Directly. So
                    As You Can See No Hack Or Spaming Goes On You Get Followers For Ever.</p>
                </div>
            </div><br><br><br><br>
            <div class="container row mx-auto text-center" style="color: black; padding: 10px;">
                <div class="top1 col-md-3 text-center mx-auto" style="padding: 10px; display: none">
                    <i style="font-size: 4rem; color: #4A00E0;" class="mx-auto text-center far fa-address-book"></i>
                </div>
                <div class="col-md-4 text-center mx-auto">
                    <p style="padding: 10px;">We Don't Scrap Anytype Of Information From Your Account Except Of Your Follower Count Which You See
                    On The Main Page While You Are Using Our Service.</p>
                </div>
                <div class="top_1 col-md-3 text-center mx-auto" style="padding: 60px;">
                    <i style="font-size: 4rem; color: #4A00E0;" class="mx-auto text-center far fa-address-book"></i>
                </div>
            </div><br><br><br><br>
            <div class="container row mx-auto text-center" style="color: black; padding: 10px;">
                <div class="col-md-3 text-center mx-auto" style="padding: 40px;">
                    <i style="font-size: 4rem; color: #8E2DE2;" class="fas fa-redo-alt"></i>
                </div>
                <div class="col-md-4 text-center mx-auto">
                    <p style="padding: 10px;">And This Process Continues As Per Your Number Of Clicks. Hope We Can Increase The Followers List In Future.</p>
                </div>
            </div><br><br><br><br><br><br>
        <div class="mx-auto text-center" style="color: black;">
            <div class="mx-auto text-center fimg" style="width: 500px; height: auto;">
                <img class="mx-auto text-center" alt='' src="{% static 'undraw_podcast_q6p7.svg' %}" style="max-width: 100%; height: auto; display: block;">
            </div><br>
            <h5 style="color: black; font-weight: 500;">As You Can See It's A Very Simple Process Which Takes Some Time<br> But Gives
                You Real & Genuine Followers For Socializing.
                </h5><br>
            <h5 style="font-weight: 500;">We're Working Hard To Optimized The Bot.</h5>
        </div>
    </div><hr><br>
    <div class="mx-auto text-left col-md-12" style="color: grey;">
        <div class="col-md-6">
            <p style="font-size: 0.6em;">Note For Instagram<br>
            We Know We're Using Bot To Access Accounts On Your Platform
            But We Don't Use It For Any Type Of Spaming Or Hacking. Our Only Motive Is To Help People Get
            Followers So That They Can Raise Their Social Platform To The Next Level.</p>
            <p style="font-size: 0.6em;">Please Contact Us Before Taking Any Action<br>
            3aceboyz@gmail.com</p>
        </div>
    </div>
    <hr>
    <p class="mx-auto text-center" style="color: black; font-size: 1em;">Copyright ©2020 All Rights Reserved | Created By Get2F</p>
{% endblock %}